@tailwind base;
@tailwind components;
@tailwind utilities;

#article h1 {
    @apply text-3xl font-extrabold mt-32 mb-16
}

#article h2 {
    @apply text-xl font-bold mt-24 mb-12
}

#article p {
    line-height: 1.8;
    @apply text-gray-500 my-8
}

#nprogress .bar {
    background: #c9ada7 !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #e0c2bb, 0 0 5px #c9ada7 !important;
}

#nprogress .spinner {
    display: none !important;
}
