@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    @apply bg-white
}

#article h1 {
    @apply text-3xl font-bold mt-16 mb-8
}

#article h2 {
    @apply text-2xl font-bold mt-12 mb-4
}

#article h3 {
    @apply text-xl font-bold mt-12 mb-4
}

#article p {
    @apply text-slate-800 leading-8 my-8
}

pre.mdx-rendered {
    @apply text-xs
}

pre.mdx-rendered > div {
    background-color: #fff !important;
    border: 1px solid #eaeaea !important;
    border-radius: 6px !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-size: var(--snippet-font-size) !important;
}

.mdx-snippet > pre {
    overflow-x: scroll;
}

pre.mdx-rendered > code {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    padding: 12px !important;
    background-color: #fff !important;
    border: 1px solid #eaeaea !important;
    border-radius: 6px !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

.mdx-component .btn-group {
    margin: 0 !important;
}

#article code:not(pre *) {
    background-color: #fff !important;
    border: 1px solid #eaeaea !important;
    border-radius: 6px !important;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-size: 0.75rem !important;
    padding: 2px 4px !important;
}

#article a {
    @apply mx-1 text-slate-800 transition break-all font-bold;
    background-image: linear-gradient(transparent 70%, #eac8c2 30%);
}

#nprogress .bar {
    background: #c9ada7 !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #e0c2bb, 0 0 5px #c9ada7 !important;
}

#nprogress .spinner {
    display: none !important;
}

::-moz-selection {
    background: #ffdad7;
}

::selection {
    background: #ffdad7;
}
