@tailwind base;
@tailwind components;
@tailwind utilities;

#article h1 {
    @apply text-3xl font-extrabold mt-32 mb-16
}

#article h2 {
    @apply text-xl font-bold mt-24 mb-12
}

#article p {
    line-height: 1.8;
    @apply text-gray-500 my-8
}

pre.mdx-rendered {
    background-color: rgb(245, 242, 240);
    @apply text-gray-500 my-8 p-4 rounded-lg overflow-x-scroll
}

.mdx-component .btn-group {
    margin: 0 !important;
}

#article code {
    background-color: rgb(245, 242, 240);
    @apply font-mono text-sm rounded-md py-1 px-2 mb-4 mt-4
}

#article a {
    @apply mx-1 text-[#b2938d] hover:text-[#c9ada7] transition;
    background-image: linear-gradient(transparent 60%, #f2e9e4 55%);
}

#nprogress .bar {
    background: #c9ada7 !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #e0c2bb, 0 0 5px #c9ada7 !important;
}

#nprogress .spinner {
    display: none !important;
}

::-moz-selection {
    background: #ffdad7;
}

::selection {
    background: #ffdad7;
}
